<!-- <h1>Hola Mundo</h1> -->
<!-- <app-por-capital></app-por-capital>
<app-por-pais></app-por-pais>
<app-por-region></app-por-region>
<app-ver-pais></app-ver-pais>
<app-sidebar></app-sidebar> -->

<div class="row container mt-4">
    <div class="col-3">
        <app-sidebar></app-sidebar>
        <!-- <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLink="" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" 
                class="list-group-item">
                Buscar Pais
            </li>
            <li routerLink="region" 
                routerLinkActive="active" 
                class="list-group-item">
                Por Región
            </li>
            <li routerLink="capital" 
                routerLinkActive="active" 
                class="list-group-item">
                Por Capital</li>
        </ul> -->

        <!-- <li class="list-group-item active">Buscar Pais</li> -->
    </div>

    <div class="col">
        <router-outlet></router-outlet>
        
        <!-- <h2>Por Capital</h2>
        <hr>
        <app-por-capital></app-por-capital> -->
    </div>

</div>